
Data Ingestion

In [1]:
import pandas as pd

csv_file_path = './archive/Albania_COVID19.csv'
df = pd.read_csv(csv_file_path)

# Display the DataFrame
df.head()

,Date,State,Country,Cumulative_cases,Cumulative_death,Daily_cases,Daily_death,Latitude,Longitude,Temperature,...,Available Beds/1000,Confirmed Cases/1000,Lung Patients (F),Lung Patients (M),Life Expectancy (M),Life Expectancy (F),Total_tests_conducted,Out_Travels (mill.),In_travels(mill.),Domestic_Travels (mill.)
0,22-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,5.72,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported
1,23-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,6.72,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported
2,24-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,8.17,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported
3,25-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,10.83,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported
4,26-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,11.39,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported

In [4]:
import socket
import pandas as pd
import sqlalchemy as sa
from sqlalchemy.engine import URL
from sqlalchemy import create_engine
 
from sqlalchemy import create_engine, MetaData, Table, select, Column, BigInteger, Numeric, String

pc_name= socket.gethostname()
 
 
def test_connection():
 
    try:
 
 
        database_name='python'
        pc_name= socket.gethostname()
 
        # Create a connection string
        connection_string = "DRIVER={SQL Server};SERVER="+pc_name+"\SQLEXPRESS;DATABASE="+database_name+";"

        # Establish a connection
        connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})
        conn_string=str(connection_url)
        print("Connection SUCCESSFULL")
 
        #SELECT 
        
        query="SELECT* from dbo.db_1;"
        engine = create_engine(conn_string)
        df_mpt_profile = pd.read_sql_query(sa.text(query), conn_string)
        print("Original DataFrame:")
        print(df_mpt_profile)

        # Update query 1
        update_query = "UPDATE dbo.db_1 SET Cumulative_cases = 300 WHERE Country = 'Albania' AND Date = '22-01-2020';"

        # Update query 2
        update_query_2 = "UPDATE dbo.db_1 SET Cumulative_cases = 500 WHERE Country = 'Albania' AND Date = '23-01-2020';"

        # Update query 3
        update_query_3 = "UPDATE dbo.db_1 SET Cumulative_cases = 700 WHERE Country = 'Albania' AND Date = '25-01-2020';"
        
        # Create a new connection for the update
        update_engine = create_engine(conn_string)
        with update_engine.connect() as connection:
            
                # Execute Update Query 1
                connection.execute(sa.text(update_query))
                connection.commit()

                # Execute Update Query 2
                connection.execute(sa.text(update_query_2))
                connection.commit()

                # Execute Update Query 3
                connection.execute(sa.text(update_query_3))
                connection.commit()
        
                # Fetch the data again after the update
                df_mpt_profile_updated = pd.read_sql_query(sa.text(query), conn_string)
        
                print("Updated DataFrame:")
                print(df_mpt_profile_updated)
                print("Update Query Successful")

            # Filter Query 1
                filter_query_1 = "SELECT * FROM dbo.db_1 WHERE Country = 'Albania';"
                df_filtered_1 = pd.read_sql_query(sa.text(filter_query_1), conn_string)
                print("Filtered DataFrame 1:")
                print(df_filtered_1)

                # Filter Query 2
                filter_query_2 = "SELECT Daily_death FROM dbo.db_1 WHERE Country = 'Albania' AND Date = '22-01-2020';"
                df_filtered_2 = pd.read_sql_query(sa.text(filter_query_2), conn_string)
                print("Filtered DataFrame 2:")
                print(df_filtered_2)

            # ALter Query

                alter_query = "ALTER TABLE dbo.db_1 ADD Total_deaths INT, New_column INT;"
                connection.execute(sa.text(alter_query))
                connection.commit()
                df_altered = pd.read_sql_query(sa.text(query), conn_string)
                print("Table Altered Successfully")
                print(df_altered)

            # Delete Query
            
                delete_query = "DELETE FROM dbo.db_1 WHERE Country = 'France';"
                connection.execute(sa.text(delete_query))
                connection.commit()
                df_deleted = pd.read_sql_query(sa.text(query), conn_string)
                print(df_deleted)

             #Specify the columns to be removed
            
                columns_to_remove = ['New_column']
    
            # Construct the ALTER TABLE query to drop multiple columns
            
                alter_query1 = "ALTER TABLE dbo.db_1 DROP COLUMN " + ", ".join(columns_to_remove) + ";"
                connection.execute(sa.text(alter_query1))
                connection.commit()
                df_altered1 = pd.read_sql_query(sa.text(query), conn_string)
                print("Table Altered Successfully")
                print(df_altered1)
                    
    
    except Exception as e:
        print("Error:", str(e))

 
test_connection()

Connection SUCCESSFULL
Original DataFrame:
          Date State  Country  Cumulative_cases  Cumulative_death  \
0   22-01-2020  None  Albania               300                 0
1   23-01-2020  None  Albania               500                 0
2   24-01-2020  None  Albania                 0                 0
3   25-01-2020  None  Albania               700                 0
4   26-01-2020  None  Albania                 0                 0
..         ...   ...      ...               ...               ...
64  26-03-2020  None  Albania               174                 6
65  27-03-2020  None  Albania               186                 8
66  28-03-2020  None  Albania               197                10
67  29-03-2020  None  Albania               212                10
68  30-03-2020  None  Albania               223                11

    Daily_cases  Daily_death  Latitude  Longitude  Temperature  ...  \
0             0            0   41.1533    20.1683         5.72  ...
1             0            0   41.1533    20.1683         6.72  ...
2             0            0   41.1533    20.1683         8.17  ...
3             0            0   41.1533    20.1683        10.83  ...
4             0            0   41.1533    20.1683        11.39  ...
..          ...          ...       ...        ...          ...  ...
64           28            1   41.1533    20.1683        15.39  ...
65           12            2   41.1533    20.1683        12.94  ...
66           11            2   41.1533    20.1683        12.17  ...
67           15            0   41.1533    20.1683        12.78  ...
68           11            1   41.1533    20.1683        12.78  ...

    Available Beds/1000  Confirmed Cases/1000  Lung Patients (F)  \
0                 0.725              0.000000               7.02
1                 0.725              0.000000               7.02
2                 0.725              0.000000               7.02
3                 0.725              0.000000               7.02
4                 0.725              0.000000               7.02
..                  ...                   ...                ...
64                0.725              0.060463               7.02
65                0.725              0.064633               7.02
66                0.725              0.068455               7.02
67                0.725              0.073667               7.02
68                0.725              0.077490               7.02

    Lung Patients (M)  Life Expectancy (M)  Life Expectancy (F)  \
0               17.04                   76                 81.6
1               17.04                   76                 81.6
2               17.04                   76                 81.6
3               17.04                   76                 81.6
4               17.04                   76                 81.6
..                ...                  ...                  ...
64              17.04                   76                 81.6
65              17.04                   76                 81.6
66              17.04                   76                 81.6
67              17.04                   76                 81.6
68              17.04                   76                 81.6

    Total_tests_conducted  Out_Travels (mill.)  In_travels(mill.)  \
0                    1526                 5415               5927
1                    1526                 5415               5927
2                    1526                 5415               5927
3                    1526                 5415               5927
4                    1526                 5415               5927
..                    ...                  ...                ...
64                   1526                 5415               5927
65                   1526                 5415               5927
66                   1526                 5415               5927
67                   1526                 5415               5927
68                   1526                 5415               5927

    Domestic_Travels (mill.)
0               Not Reported
1               Not Reported
2               Not Reported
3               Not Reported
4               Not Reported
..                       ...
64              Not Reported
65              Not Reported
66              Not Reported
67              Not Reported
68              Not Reported

[69 rows x 31 columns]
Updated DataFrame:
          Date State  Country  Cumulative_cases  Cumulative_death  \
0   22-01-2020  None  Albania               300                 0
1   23-01-2020  None  Albania               500                 0
2   24-01-2020  None  Albania                 0                 0
3   25-01-2020  None  Albania               700                 0
4   26-01-2020  None  Albania                 0                 0
..         ...   ...      ...               ...               ...
64  26-03-2020  None  Albania               174                 6
65  27-03-2020  None  Albania               186                 8
66  28-03-2020  None  Albania               197                10
67  29-03-2020  None  Albania               212                10
68  30-03-2020  None  Albania               223                11

    Daily_cases  Daily_death  Latitude  Longitude  Temperature  ...  \
0             0            0   41.1533    20.1683         5.72  ...
1             0            0   41.1533    20.1683         6.72  ...
2             0            0   41.1533    20.1683         8.17  ...
3             0            0   41.1533    20.1683        10.83  ...
4             0            0   41.1533    20.1683        11.39  ...
..          ...          ...       ...        ...          ...  ...
64           28            1   41.1533    20.1683        15.39  ...
65           12            2   41.1533    20.1683        12.94  ...
66           11            2   41.1533    20.1683        12.17  ...
67           15            0   41.1533    20.1683        12.78  ...
68           11            1   41.1533    20.1683        12.78  ...

    Available Beds/1000  Confirmed Cases/1000  Lung Patients (F)  \
0                 0.725              0.000000               7.02
1                 0.725              0.000000               7.02
2                 0.725              0.000000               7.02
3                 0.725              0.000000               7.02
4                 0.725              0.000000               7.02
..                  ...                   ...                ...
64                0.725              0.060463               7.02
65                0.725              0.064633               7.02
66                0.725              0.068455               7.02
67                0.725              0.073667               7.02
68                0.725              0.077490               7.02

    Lung Patients (M)  Life Expectancy (M)  Life Expectancy (F)  \
0               17.04                   76                 81.6
1               17.04                   76                 81.6
2               17.04                   76                 81.6
3               17.04                   76                 81.6
4               17.04                   76                 81.6
..                ...                  ...                  ...
64              17.04                   76                 81.6
65              17.04                   76                 81.6
66              17.04                   76                 81.6
67              17.04                   76                 81.6
68              17.04                   76                 81.6

    Total_tests_conducted  Out_Travels (mill.)  In_travels(mill.)  \
0                    1526                 5415               5927
1                    1526                 5415               5927
2                    1526                 5415               5927
3                    1526                 5415               5927
4                    1526                 5415               5927
..                    ...                  ...                ...
64                   1526                 5415               5927
65                   1526                 5415               5927
66                   1526                 5415               5927
67                   1526                 5415               5927
68                   1526                 5415               5927

    Domestic_Travels (mill.)
0               Not Reported
1               Not Reported
2               Not Reported
3               Not Reported
4               Not Reported
..                       ...
64              Not Reported
65              Not Reported
66              Not Reported
67              Not Reported
68              Not Reported

[69 rows x 31 columns]
Update Query Successful
Filtered DataFrame 1:
          Date State  Country  Cumulative_cases  Cumulative_death  \
0   22-01-2020  None  Albania               300                 0
1   23-01-2020  None  Albania               500                 0
2   24-01-2020  None  Albania                 0                 0
3   25-01-2020  None  Albania               700                 0
4   26-01-2020  None  Albania                 0                 0
..         ...   ...      ...               ...               ...
64  26-03-2020  None  Albania               174                 6
65  27-03-2020  None  Albania               186                 8
66  28-03-2020  None  Albania               197                10
67  29-03-2020  None  Albania               212                10
68  30-03-2020  None  Albania               223                11

    Daily_cases  Daily_death  Latitude  Longitude  Temperature  ...  \
0             0            0   41.1533    20.1683         5.72  ...
1             0            0   41.1533    20.1683         6.72  ...
2             0            0   41.1533    20.1683         8.17  ...
3             0            0   41.1533    20.1683        10.83  ...
4             0            0   41.1533    20.1683        11.39  ...
..          ...          ...       ...        ...          ...  ...
64           28            1   41.1533    20.1683        15.39  ...
65           12            2   41.1533    20.1683        12.94  ...
66           11            2   41.1533    20.1683        12.17  ...
67           15            0   41.1533    20.1683        12.78  ...
68           11            1   41.1533    20.1683        12.78  ...

    Available Beds/1000  Confirmed Cases/1000  Lung Patients (F)  \
0                 0.725              0.000000               7.02
1                 0.725              0.000000               7.02
2                 0.725              0.000000               7.02
3                 0.725              0.000000               7.02
4                 0.725              0.000000               7.02
..                  ...                   ...                ...
64                0.725              0.060463               7.02
65                0.725              0.064633               7.02
66                0.725              0.068455               7.02
67                0.725              0.073667               7.02
68                0.725              0.077490               7.02

    Lung Patients (M)  Life Expectancy (M)  Life Expectancy (F)  \
0               17.04                   76                 81.6
1               17.04                   76                 81.6
2               17.04                   76                 81.6
3               17.04                   76                 81.6
4               17.04                   76                 81.6
..                ...                  ...                  ...
64              17.04                   76                 81.6
65              17.04                   76                 81.6
66              17.04                   76                 81.6
67              17.04                   76                 81.6
68              17.04                   76                 81.6

    Total_tests_conducted  Out_Travels (mill.)  In_travels(mill.)  \
0                    1526                 5415               5927
1                    1526                 5415               5927
2                    1526                 5415               5927
3                    1526                 5415               5927
4                    1526                 5415               5927
..                    ...                  ...                ...
64                   1526                 5415               5927
65                   1526                 5415               5927
66                   1526                 5415               5927
67                   1526                 5415               5927
68                   1526                 5415               5927

    Domestic_Travels (mill.)
0               Not Reported
1               Not Reported
2               Not Reported
3               Not Reported
4               Not Reported
..                       ...
64              Not Reported
65              Not Reported
66              Not Reported
67              Not Reported
68              Not Reported

[69 rows x 31 columns]
Filtered DataFrame 2:
   Daily_death
0            0
Table Altered Successfully
          Date State  Country  Cumulative_cases  Cumulative_death  \
0   22-01-2020  None  Albania               300                 0
1   23-01-2020  None  Albania               500                 0
2   24-01-2020  None  Albania                 0                 0
3   25-01-2020  None  Albania               700                 0
4   26-01-2020  None  Albania                 0                 0
..         ...   ...      ...               ...               ...
64  26-03-2020  None  Albania               174                 6
65  27-03-2020  None  Albania               186                 8
66  28-03-2020  None  Albania               197                10
67  29-03-2020  None  Albania               212                10
68  30-03-2020  None  Albania               223                11

    Daily_cases  Daily_death  Latitude  Longitude  Temperature  ...  \
0             0            0   41.1533    20.1683         5.72  ...
1             0            0   41.1533    20.1683         6.72  ...
2             0            0   41.1533    20.1683         8.17  ...
3             0            0   41.1533    20.1683        10.83  ...
4             0            0   41.1533    20.1683        11.39  ...
..          ...          ...       ...        ...          ...  ...
64           28            1   41.1533    20.1683        15.39  ...
65           12            2   41.1533    20.1683        12.94  ...
66           11            2   41.1533    20.1683        12.17  ...
67           15            0   41.1533    20.1683        12.78  ...
68           11            1   41.1533    20.1683        12.78  ...

    Lung Patients (F)  Lung Patients (M)  Life Expectancy (M)  \
0                7.02              17.04                   76
1                7.02              17.04                   76
2                7.02              17.04                   76
3                7.02              17.04                   76
4                7.02              17.04                   76
..                ...                ...                  ...
64               7.02              17.04                   76
65               7.02              17.04                   76
66               7.02              17.04                   76
67               7.02              17.04                   76
68               7.02              17.04                   76

    Life Expectancy (F)  Total_tests_conducted  Out_Travels (mill.)  \
0                  81.6                   1526                 5415
1                  81.6                   1526                 5415
2                  81.6                   1526                 5415
3                  81.6                   1526                 5415
4                  81.6                   1526                 5415
..                  ...                    ...                  ...
64                 81.6                   1526                 5415
65                 81.6                   1526                 5415
66                 81.6                   1526                 5415
67                 81.6                   1526                 5415
68                 81.6                   1526                 5415

    In_travels(mill.)  Domestic_Travels (mill.)  Total_deaths  New_column
0                5927              Not Reported          None        None
1                5927              Not Reported          None        None
2                5927              Not Reported          None        None
3                5927              Not Reported          None        None
4                5927              Not Reported          None        None
..                ...                       ...           ...         ...
64               5927              Not Reported          None        None
65               5927              Not Reported          None        None
66               5927              Not Reported          None        None
67               5927              Not Reported          None        None
68               5927              Not Reported          None        None

[69 rows x 33 columns]
          Date State  Country  Cumulative_cases  Cumulative_death  \
0   22-01-2020  None  Albania               300                 0
1   23-01-2020  None  Albania               500                 0
2   24-01-2020  None  Albania                 0                 0
3   25-01-2020  None  Albania               700                 0
4   26-01-2020  None  Albania                 0                 0
..         ...   ...      ...               ...               ...
64  26-03-2020  None  Albania               174                 6
65  27-03-2020  None  Albania               186                 8
66  28-03-2020  None  Albania               197                10
67  29-03-2020  None  Albania               212                10
68  30-03-2020  None  Albania               223                11

    Daily_cases  Daily_death  Latitude  Longitude  Temperature  ...  \
0             0            0   41.1533    20.1683         5.72  ...
1             0            0   41.1533    20.1683         6.72  ...
2             0            0   41.1533    20.1683         8.17  ...
3             0            0   41.1533    20.1683        10.83  ...
4             0            0   41.1533    20.1683        11.39  ...
..          ...          ...       ...        ...          ...  ...
64           28            1   41.1533    20.1683        15.39  ...
65           12            2   41.1533    20.1683        12.94  ...
66           11            2   41.1533    20.1683        12.17  ...
67           15            0   41.1533    20.1683        12.78  ...
68           11            1   41.1533    20.1683        12.78  ...

    Lung Patients (F)  Lung Patients (M)  Life Expectancy (M)  \
0                7.02              17.04                   76
1                7.02              17.04                   76
2                7.02              17.04                   76
3                7.02              17.04                   76
4                7.02              17.04                   76
..                ...                ...                  ...
64               7.02              17.04                   76
65               7.02              17.04                   76
66               7.02              17.04                   76
67               7.02              17.04                   76
68               7.02              17.04                   76

    Life Expectancy (F)  Total_tests_conducted  Out_Travels (mill.)  \
0                  81.6                   1526                 5415
1                  81.6                   1526                 5415
2                  81.6                   1526                 5415