In [4]:
import pandas as pd

csv_file_path = './archive/Albania_COVID19.csv'
df = pd.read_csv(csv_file_path)

# Display the DataFrame
df.head()

,Date,State,Country,Cumulative_cases,Cumulative_death,Daily_cases,Daily_death,Latitude,Longitude,Temperature,...,Available Beds/1000,Confirmed Cases/1000,Lung Patients (F),Lung Patients (M),Life Expectancy (M),Life Expectancy (F),Total_tests_conducted,Out_Travels (mill.),In_travels(mill.),Domestic_Travels (mill.)
0,22-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,5.72,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported
1,23-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,6.72,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported
2,24-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,8.17,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported
3,25-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,10.83,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported
4,26-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,11.39,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported

In [5]:
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

# Filtering based Cumulative_cases > 0
filtered_data = df[(df['Cumulative_cases'] > 0)]

# Displaying filtered data summary
print("Filtered Data Summary (Cumulative_cases > 0):")
print(filtered_data[['Date', 'Country', 'Cumulative_cases']])

# Additional filtering for date-wise and country-wise conditions
date_filter = (df['Date'] >= '2020-01-22')
country_filter = (df['Country'] == 'Albania')

# Apply additional filters
filtered_data_date = df[date_filter]
filtered_data_country = df[country_filter]

# Displaying filtered data summary for date-wise condition
print("\nFiltered Data Summary (Date >= '2020-01-22'):")
print(filtered_data_date[['Date', 'Country', 'Cumulative_cases']])

# Displaying filtered data summary for country-wise condition
print("\nFiltered Data Summary (Country == 'Albania'):")
print(filtered_data_country[['Date', 'Country', 'Cumulative_cases']])

# Grouping by 'Date' and finding the sum of 'Cumulative_cases'
grouped_data_datewise = df.groupby('Date')['Cumulative_cases'].sum()

# Displaying date-wise grouped data summary
print("\nDate-wise Grouped Data Summary:")
print(grouped_data_datewise)

# Grouping by 'Country' and finding the sum of 'Cumulative_cases'
grouped_data_countrywise = df.groupby('Country')['Cumulative_cases'].sum()

# Displaying country-wise grouped data summary
print("\nCountry-wise Grouped Data Summary:")
print(grouped_data_countrywise)

# Grouping by 'Country' and 'Date' and finding the sum of 'Cumulative_cases'
grouped_data_country_datewise = df.groupby(['Country', 'Date'])['Cumulative_cases'].sum()

# Displaying country and date-wise grouped data summary
print("\nCountry and Date-wise Grouped Data Summary:")
print(grouped_data_country_datewise)

# Relation between 'Available Beds' and 'Cumulative Deaths' for each grouping
relation_data = df.groupby('Date')[['Available Beds/1000', 'Cumulative_death']].sum()
print("\nRelation between Available Beds and Cumulative Deaths (Date-wise):")
print(relation_data)

relation_data = df.groupby('Country')[['Available Beds/1000', 'Cumulative_death']].sum()
print("\nRelation between Available Beds and Cumulative Deaths (Country-wise):")
print(relation_data)

relation_data = df.groupby(['Country', 'Date'])[['Available Beds/1000', 'Cumulative_death']].sum()
print("\nRelation between Available Beds and Cumulative Deaths (Country and Date-wise):")
print(relation_data)

Filtered Data Summary (Cumulative_cases > 0):
         Date  Country  Cumulative_cases
47 2020-03-09  Albania                 2
48 2020-03-10  Albania                10
49 2020-03-11  Albania                12
50 2020-03-12  Albania                23
51 2020-03-13  Albania                33
52 2020-03-14  Albania                38
53 2020-03-15  Albania                42
54 2020-03-16  Albania                51
55 2020-03-17  Albania                55
56 2020-03-18  Albania                59
57 2020-03-19  Albania                64
58 2020-03-20  Albania                70
59 2020-03-21  Albania                76
60 2020-03-22  Albania                89
61 2020-03-23  Albania               104
62 2020-03-24  Albania               123
63 2020-03-25  Albania               146
64 2020-03-26  Albania               174
65 2020-03-27  Albania               186
66 2020-03-28  Albania               197
67 2020-03-29  Albania               212
68 2020-03-30  Albania               223

Filtered Data Summary (Date >= '2020-01-22'):
         Date  Country  Cumulative_cases
0  2020-01-22  Albania                 0
1  2020-01-23  Albania                 0
2  2020-01-24  Albania                 0
3  2020-01-25  Albania                 0
4  2020-01-26  Albania                 0
..        ...      ...               ...
64 2020-03-26  Albania               174
65 2020-03-27  Albania               186
66 2020-03-28  Albania               197
67 2020-03-29  Albania               212
68 2020-03-30  Albania               223

[69 rows x 3 columns]

Filtered Data Summary (Country == 'Albania'):
         Date  Country  Cumulative_cases
0  2020-01-22  Albania                 0
1  2020-01-23  Albania                 0
2  2020-01-24  Albania                 0
3  2020-01-25  Albania                 0
4  2020-01-26  Albania                 0
..        ...      ...               ...
64 2020-03-26  Albania               174
65 2020-03-27  Albania               186
66 2020-03-28  Albania               197
67 2020-03-29  Albania               212
68 2020-03-30  Albania               223

[69 rows x 3 columns]

Date-wise Grouped Data Summary:
Date
2020-01-22      0
2020-01-23      0
2020-01-24      0
2020-01-25      0
2020-01-26      0
             ...
2020-03-26    174
2020-03-27    186
2020-03-28    197
2020-03-29    212
2020-03-30    223
Name: Cumulative_cases, Length: 69, dtype: int64

Country-wise Grouped Data Summary:
Country
Albania    1989
Name: Cumulative_cases, dtype: int64

Country and Date-wise Grouped Data Summary:
Country  Date
Albania  2020-01-22      0
         2020-01-23      0
         2020-01-24      0
         2020-01-25      0
         2020-01-26      0
                      ...
         2020-03-26    174
         2020-03-27    186
         2020-03-28    197
         2020-03-29    212
         2020-03-30    223
Name: Cumulative_cases, Length: 69, dtype: int64

Relation between Available Beds and Cumulative Deaths (Date-wise):
            Available Beds/1000  Cumulative_death
Date
2020-01-22                0.725                 0
2020-01-23                0.725                 0
2020-01-24                0.725                 0
2020-01-25                0.725                 0
2020-01-26                0.725                 0
...                         ...               ...
2020-03-26                0.725                 6
2020-03-27                0.725                 8
2020-03-28                0.725                10
2020-03-29                0.725                10
2020-03-30                0.725                11

[69 rows x 2 columns]

Relation between Available Beds and Cumulative Deaths (Country-wise):
         Available Beds/1000  Cumulative_death
Country
Albania               50.025                76

Relation between Available Beds and Cumulative Deaths (Country and Date-wise):
                    Available Beds/1000  Cumulative_death
Country Date
Albania 2020-01-22                0.725                 0
        2020-01-23                0.725                 0
        2020-01-24                0.725                 0
        2020-01-25                0.725                 0
        2020-01-26                0.725                 0
...                                 ...               ...
        2020-03-26                0.725                 6
        2020-03-27                0.725                 8
        2020-03-28                0.725                10
        2020-03-29                0.725                10
        2020-03-30                0.725                11

[69 rows x 2 columns]

In [8]:
relation_data.reset_index()

    Country       Date  Available Beds/1000  Cumulative_death
0   Albania 2020-01-22                0.725                 0
1   Albania 2020-01-23                0.725                 0
2   Albania 2020-01-24                0.725                 0
3   Albania 2020-01-25                0.725                 0
4   Albania 2020-01-26                0.725                 0
..      ...        ...                  ...               ...
64  Albania 2020-03-26                0.725                 6
65  Albania 2020-03-27                0.725                 8
66  Albania 2020-03-28                0.725                10
67  Albania 2020-03-29                0.725                10
68  Albania 2020-03-30                0.725                11

[69 rows x 4 columns]