In [2]:
import pandas as pd

csv_file_path = './archive/Albania_COVID19.csv'
df = pd.read_csv(csv_file_path)

# Display the DataFrame
df.head()

,Date,State,Country,Cumulative_cases,Cumulative_death,Daily_cases,Daily_death,Latitude,Longitude,Temperature,...,Available Beds/1000,Confirmed Cases/1000,Lung Patients (F),Lung Patients (M),Life Expectancy (M),Life Expectancy (F),Total_tests_conducted,Out_Travels (mill.),In_travels(mill.),Domestic_Travels (mill.)
0,22-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,5.72,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported
1,23-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,6.72,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported
2,24-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,8.17,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported
3,25-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,10.83,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported
4,26-01-2020,NaN,Albania,0,0,0,0,41.1533,20.1683,11.39,...,0.725,0.0,7.02,17.04,76,81.6,1526,5415,5927,Not Reported

In [3]:
#Install pyodbc module
#upgrade sqlalchemy module
!pip install pyodbc
!pip install --upgrade sqlalchemy

Requirement already satisfied: pyodbc in c:\users\91760\appdata\local\programs\python\python311\lib\site-packages (5.0.1)

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\users\91760\appdata\local\programs\python\python311\lib\site-packages (1.4.36)
Collecting sqlalchemy
  Using cached SQLAlchemy-2.0.25-cp311-cp311-win_amd64.whl (2.1 MB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\91760\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\91760\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.0.3)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.36
    Uninstalling SQLAlchemy-1.4.36:
      Successfully uninstalled SQLAlchemy-1.4.36
Successfully installed sqlalchemy-2.0.25

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
#Writing pandas dataframe in to excel file
!pip install openpyxl

excel_file_path = './Task1.xlsx'

# Write the DataFrame to an Excel file
df.to_excel(excel_file_path, index=False)


# Display a message
print(f'DataFrame has been saved to: {excel_file_path}')

Requirement already satisfied: openpyxl in c:\users\91760\appdata\local\programs\python\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\91760\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)
DataFrame has been saved to: ./Task1.xlsx

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
!pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\91760\appdata\local\programs\python\python311\lib\site-packages (14.0.2)
Requirement already satisfied: numpy>=1.16.6 in c:\users\91760\appdata\local\programs\python\python311\lib\site-packages (from pyarrow) (1.26.3)

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
#Writing pandas dataframe in to parquet file

import pyarrow as pa
import pyarrow.parquet as pq

parquet_file_path = 'ParquetTask.parquet'

# Write the DataFrame to a Parquet file
table = pa.Table.from_pandas(df)
pq.write_table(table, parquet_file_path)